.hg_archival.txt
.hgignore
README
__pycache__/
cminus_lexer.py~
cminus_parser.py~
data.c
data.c~
examples/estrtegia.txt~
examples/fibonacci.c~
examples/input.c~
parser.out
parsetab.py
tests.py
.gitignore~
Parser.py~
prueba.py~
tests.py~
Documentacion.docx
Documentacion.pdf
lexer.py~
boot.py
pruebas/
assembler/
.vscode/